extends layout

block content
  div(class='block block-1')
   div(class='block-header') Find upcoming live music events near you
   form(class='pure-form block-form' method='GET' action='/api/area')
    input(class='pure-input-1-4' type="text", name="area")
    button(class='pure-button pure-button-primary' type='submit') Search
  div(class='block block-2')