body {
  margin: 0;
  font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.block {
  padding: 100px 150px;
  height: 300px;
}

.block-1 {
  background-color: #009dff;
}

.area-results-block {
  padding: 20px 100px;
}

.area {
  margin-bottom: 15px;
}

.area-name {
  font-size: 20px;
}

.area-subtext {
  font-size: 14px;
}

.block-header {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.block-form {
  text-align: center;
}

.font-size-20 {
  font-size: 20px;
}

.inline-block {
  display: inline-block;
}

.upcoming-tag {
  padding: 5px 2px;
  color: white;
  background-color: #009dff;
}

.area {
  text-align: left;
  margin-bottom: 50px;
}

.area hr {
  float: left;
  width: 25%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc)
}

.upcoming-events-block {
  padding: 20px 100px;
}

.upcoming-event {
  margin-bottom: 35px;
  display: inline-block;
}

.upcoming-event hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc)
}


/* CSS for the /artist route DCDCDC*/
.artist-banner {
  background-color: #DCDCDC;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 300px;
  padding: 50px 80px;
  border-bottom: 1px solid darkgrey;
}

.artist-banner h1 {
  font-size: 50px;
}

.artist-banner-img {
  border: 2px solid darkgrey;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.artist-banner-description {
 
}

.artist-banner-name {
  font-size: 50px;
  margin-bottom: 100px;
}

.artist-banner-subtext {
  font-size: 20px;
}

.artist-albums {
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.artist-top-tracks {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 300px;
}

.artist-top-tracks * {
  text-align: center;
}

.albums-div {
  height: 100px;
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}