body {
  margin: 0;
  font: 16px Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

/* Begin index.jade */
.index-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../index-banner.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.index-banner-item {
  flex-grow: 1;
  text-align: center;
  padding-bottom: 10%;
}

.index-banner-text {
  font-size: 4em;
  color: white;
  margin-bottom: 100px;
}
/* End index.jade */


/* Begin areas.jade */
.area-results-page {
  padding: 4% 10%;
}

.area-results-page a {
  color: #0078e7;
}
.area-results-page a:hover {
 color: #0067c7
}

.area-search-form {
  margin-bottom: 50px;
}

.area-results-explanation {
  margin-bottom: 20px;
}

.area-result {
  margin-bottom: 50px;
  width: 100%;
}

.area-result-contents {
  display: inline-block;
}

.area-result-contents hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
/* End areas.jade */