body {
  margin: 0;
  font: 16px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  background-color: #121212;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

form {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* Begin index.jade */
.index-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../index-banner.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.index-banner-item {
  flex-grow: 1;
  text-align: center;
  padding-bottom: 10%;
}

.index-banner-text {
  font-size: 4em;
  color: white;
  margin-bottom: 100px;
}
/* End index.jade */


/* Begin areas.jade */
.area-results-page {
  padding: 4% 10%;
}

.area-results-page a {
  color: #0078e7;
}
.area-results-page a:hover {
 color: #0067c7
}

.area-search-form {
  margin-bottom: 50px;
}

.area-results-explanation {
  margin-bottom: 20px;
}

.area-result {
  margin-bottom: 50px;
  width: 100%;
}

.area-result-contents {
  display: inline-block;
}

.area-result-contents hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
/* End areas.jade */


/* Begin upcomingEvents.jade */
.events-results-page {
  padding: 4% 10%;
}

.events-results-explanation {
  margin-bottom: 20px;
}

.event-result {
  margin-bottom: 50px;
  width: 100%;
}


.event-tag {
  background-color: darkgrey;
  border: 1px solid darkgrey;
  border-radius: 5px;
  text-align: center;
  padding: 5px 8px;
  font-size: 12px;
  margin-bottom: 10px;
  width: 130px;
}

.event-link {
  display: block;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  margin-top: 10px;
  width: 150px;
  border: 1px solid #009816;
  border-radius: 5px; 
  background-color: #009816;
}

.event-flex {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.event-flex-item {
  color: #0078e7;
  margin-right: 10px;
}

.event-title {
  font-size: 1.5em;
  color: #0078e7;
  font-weight: bold;
  margin-top: 3px;
}

.event-title:hover, .event-flex-item:hover {
  color: #0067c7;
}

.event-location {
  margin-top: 3px;
  display: inline-block;
  margin-right: 8px;
}

.event-location-icon {
  color: red;
  font-size: 18px;
}

/* End upcomingEvents.jade */

/* Begin artist.jade */
.artist-grid {
  padding: 100px 200px;
  display: grid;
  grid-template-rows: 300px auto auto;
  grid-template-columns: 300px auto;
}

.artist-grid * {
  color: white;
}
.artist-grid-item-1 {
  background-position: center;
  background-size: contain;
  border-radius: 3px;
}

.artist-grid-item-3, .artist-grid-item-4 {
  grid-column: 1/-1;
}

.artist-grid-item-2 {
  padding-left: 15px;
  position: relative;
}

.artist-name {
  font-size: 4em;
}

.artist-stats {
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
}

.artist-grid-item-3 {
  padding: 60px 0px;
}

.artist-track {
  display: flex;
  border-top: 1px solid #1c1c1c;
}

.artist-track-title {
  display: inline-block;
  align-self: center;
  margin-left: 15px;
}

.artist-track:hover {
  background-color: #333333;
}

.artist-track-img {
  height: 32px;
  width: 32px;
}

.artist-albums-text, .artist-tracks-text {
  font-size: 1.25em;
  margin-bottom: 20px;
}

.artist-albums-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artist-albums-grid-item {
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
}
/* End artist.jade */